<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  
  <title>Recomendador de Vídeos sobre ciência de dados</title>

</head>

<body>
  <header class="header">
    <a href="/"><h3>Recomendador de vídeos sobre ciência de dados</h3></a>
      <nav>
        <ul class=“menu”>
          <li><a href="/predict">Predição novo vídeo</a></li>
          <li><a href="https://github.com/fhfraga/classificador_video_youtube">Repositório do projeto</a></li>
          <li><a href="https://github.com/fhfraga/"">
            <img src="../static/images/github.svg" alt="Github" width="30px"></a></li>
          <li><a href="https://fhfraga.github.io">
            <img src="../static/images/portfolio.svg" alt="Portfólio"></a></li>
          <li><a href="https://www.linkedin.com/in/fhfraga/">
            <img src="../static/images/linkedin.png" alt="Linkedin" width="30px"></a></li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock %}

</body>

</html>